body {
  background-color: rgb(205, 246, 246);
  font-size: 20px;
  text-align: center;
}
.form {
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
}

.bg1 {
  background-color: beige;
}

.bg2 {
  background-color: blanchedalmond;
}

ul {
  background-color: rgb(205, 246, 246);
}

li {
  list-style: none;
  text-align: start;
  border: 1px solid green;
  border-radius: 5px;
  margin-bottom: 3px;
  background-color: rgb(210, 244, 159);
}

#loader {
  display: none;
}

#loader.show {
  display: block;
}

.btn-del {
  color: blue;
  background-color: rgb(215, 93, 93);
  border-radius: 5px;
}

.btn-add {
  background-color: chartreuse;
  border-radius: 5px;
}

.btn-new {
  margin-bottom: 10px;
  background-color: rgb(0, 110, 255);
  border-radius: 5px;
}
